---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap.min.css">
        <title>Status - LUDD</title>
        <style>
            body {
                padding-top: 200px;
                padding-bottom: 200px;
            }
            .incident {
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>LUDD Status</h1>
            <p>All systems currently operational to some degree (Updated 2017-12-03)</p>
            <p>Visit <a href="https://www.ludd.ltu.se">www.ludd.ltu.se</a> for our website</p>

            <h2>Services</h2>
            <table class="table table-striped">
            {% for post in site.services %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td class="text-right">
                        <b class="text-{{ post.color | default: 'success'}}">{{ post.status }}</b>
                        <br>{{ post.content }}
                    </td>
                </tr>
            {% endfor %}
            </table>

            <hr/>

            <h2>Incidents</h2>
            {% for post in site.incidents %}
            <div class="incident">
                <h2>{{ post.title }} <small>{{ post.date | date_to_string }}</small></h2>
                <div>{{ post.content }}</div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>