---
---
<!DOCTYPE html>
<html lang="en">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap.min.css">
        <title>LUDD Status</title>
        <style>
            body {
                padding-top: 200px;
                padding-bottom: 200px;
            }
            .incident {
                margin-top: 50px;
            }
            .jumbotron {
                padding-left: 0px;
                padding-right: 0px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>LUDD Status</h1>
                <p>All systems currently operational to some degree (Updated 2017-12-03)</p>
                <p>Visit <a href="https://www.ludd.ltu.se">www.ludd.ltu.se</a> for our website</p>
            </div>
            <h2>Services</h2>
            <table class="table table-striped">
            {% for post in site.services %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td class="text-right">
                        <b class="text-{{ post.color | default: 'success'}}">{{ post.status }}</b>
                        <br>{{ post.content }}
                    </td>
                </tr>
            {% endfor %}
            </table>

            <hr/>

            <h2>Incidents</h2>
            {% assign incidents = (site.incidents | sort: 'date') | reverse %}
            {% for post in incidents %}
            <div class="incident">
                <h2><a href="{{ post.url }}">{{ post.title }}</a> <br/><small>{{ post.date }}</small></h2>
                <div>{{ post.content }}</div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>