---
---
<!DOCTYPE html>
<html lang="en">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <title>LUDD Status</title>
        <style>
            body {
                padding-top: 200px;
                padding-bottom: 200px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="text-center">{{ page.title }} <br/><small>{{ page.date }}</small></h1>
                <table class="table table-striped">
                    {% for field in page.ticket %}
                    <tr>
                        <td style="width: 100px">{{ field[0] }}</td>
                        <td><b>{{ field[1] }}</b></td>
                    </tr>
                    {% endfor %}
                </table>
                {{ content }}
            </div>
        </div>
    </body>
</html>